.wrapper {
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
}

.popUp {
    position: absolute;
    top: -5px;
    right: 10px;
}

.text {
    font-size: 48px;
    font-weight: 400;
}

.icon svg {
    margin-left: 10px;
    padding-top: 7px;
    width: 40px;
    height: 40px;
}

.counter {
    display: flex;
    align-items: center;
}

.button {
    display: flex;
    padding-top: 50px;
}