.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 130px;
}

.loader {
    display: flex;
    justify-content: center;
}

.title {
    margin-top: 30px;
    font-size: 36px;
}


.list {
    margin-top: 30px;
    padding-right: 10px;
    height: 600px;
    overflow: hidden;
    overflow-y: auto;
}

.list::-webkit-scrollbar-track {
    background-color: none;
    margin-bottom: 50px;
    border-radius: 8px;
}

.title {
    text-align: start;
}

.main {
    margin-left: 60px;
    height: 600px;
    overflow: hidden;
    overflow-y: auto;
}

.main::-webkit-scrollbar-track {
    background-color: none;
    margin-bottom: 50px;
    margin-top: 80px;
    border-radius: 8px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 60px;
}

.count {
    font-family: 'Iceland';
    text-align: start;
    font-size: 144px;
    line-height: 120px;
    text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}

.container h1 {
    font-size: 24px;
}

.statuses {
    font-family: 'Iceland';
    line-height: 30px;
    font-size: 28px;
    column-count: 2;
}

.ready,
.getting {
    text-align: left;
}

.ready p {
    color: #00CCCC
}

.totalAll,
.totalToday {
    margin-top: 60px;
    display: block;
    width: 100%;
    text-align: left;
}