.icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    background-color: black;
    border-radius: 100%;
    border: 2px solid rgba(128, 26, 178, 1);
}