.header {
    background-color: #1C1C21;
    padding: 16px 110px;
}

.wrapper {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    margin-right: 120px;
    flex-grow: 1;
}