.block {
    display: flex;
}

.block p {
    color: #8585AD;
    text-decoration: none;
}

.notActive .image svg {
    fill: #8585AD;
}

.active .image svg {
    fill: #fff;
}

.notActive a {
    color: #8585AD;
}

.active p {
    color: #fff;
}